main {
    background-color: #d5d0cf;
    min-height: 75vh;

}

#name {
    text-align: center;
    font-family: Felipa;
    padding-top: 1rem;;
    font-size: 4rem;
}

#shopping-cart {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
    width: 5%;
    height: 5%;
}


#welcome {
    text-align: center;
    margin: 0;
    font-size: 5rem;
}

.nav-item {
    margin: 0 50px;
}


.content-container {
    background-color: whitesmoke;
    height: 80%;
    margin-top: 2rem;
}


#footer {
    font-family: Felipa;
    font-size: 1.5rem;
    height: 100%;
}

#footer p {
    margin: 0;
}
