main {
    background-color: #d5d0cf;
}

#name {
    text-align: center;
    font-family: Felipa;
    padding-top: 1rem;;
    font-size: 4rem;
}


#welcome {
    text-align: center;
    margin: 0;
    font-size: 5rem;
}

.nav-item {
    margin: 0 50px;
}


main {
    min-height: 500px;
}

#orderGrid {
    text-align: center;
    padding: 0;
    width: 100%;
    margin-top: 40px;
}

#dashboard_table {
    margin: 0;
}


th {
    padding: 0 3.5rem;
    border: 2px solid black;
}

td {
    border: solid 2px black;
}

#footer {
    font-family: Felipa;
    font-size: 1.5rem;
    height: 100%;
}

#footer p {
    margin: 0;
}